<h1>Wishlist Items</h1>
<table>
<thead>
   <tr>
   <th>Wishlist Item</th>
    <th>Link</th>
    <th>Cost</th>
   </tr>
  </thead>
<tbody>
	<% @items.each do |item| %>
<tr>
    <td><%= item.item%></td>
    <td><%= item.link%></td>
    <td><%= item.cost%></td>
</tr>
<% end %>
</tbody>
</table>
<%= link_to 'New Item', '/items/new' %>